@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');

header {
  padding: 10px 50px;
  margin-bottom: 40px;
  border-bottom: 20px solid #282828;
}

h1 {
  margin: 5px 0;
  font-size: 50px;
  letter-spacing: 3px;
  color: #2C535A;
}

header p {
  color: #2C535A;
  font-style: italic;
  text-transform: uppercase;
}

footer {
  padding: 20px 50px;
  background-color: #2C535A;
  color: #FFF;
}
