<div class="book-content">
  <div class="wrap-book-content">
    <h3>{{itemBook.name}}</h3>
    <h4>{{itemBook.category}}</h4>
    <p class="description">{{itemBook.description}}</p>
    <p><span class="bold">Price:</span> {{itemBook.price}}</p>
    <p><span class="bold">Data:</span> {{itemBook.createDate}}</p>
    <p><span class="bold">Is Available:</span> {{itemBook.isAvailable}}</p>
    <div class="wrap-button-buy">
      <button class="button-buy" *ngIf="itemBook.isAvailable && itemBook.isShow" (click) = "onBuy($event)">buy</button>
    </div>
    <p class="comment-buy" *ngIf="!itemBook.isShow">item in cart</p>
    <p class="comment-is-available" *ngIf="!itemBook.isAvailable">the product is not available for order</p>
  </div>
</div>
