<div class="book-content">
  <div class="wrap-book-content">
    <h2>{{post.name}}</h2>
    <h3>Category: {{post.category}}</h3>
    <p class="description">{{post.description}}</p>
    <p><span class="bold">Price:</span> {{post.price}}</p>
    <p><span class="bold">Data:</span> {{post.createDate}}</p>
    <p><span class="bold">Is Available:</span> {{post.isAvailable}}</p>
    <div class="wrap-button-buy">
      <button class="button-buy" *ngIf="post.isAvailable && !this.count" (click) = "onBuy()">buy</button>
    </div>
    <p class="comment-buy"></p>
    <p class="comment-is-available" *ngIf="!post.isAvailable">the product is not available for order</p>
  </div>
</div>
