<div
  class="cart-item-content"
  appCartItemOnHover
  [ngClass]="{disable: itemBook.count === 0}"
>
  <div class="cart-item-title">
    <p>{{itemBook.item.name}}</p>
  </div>
  <div class="cart-item-count">
    <p>{{itemBook.count}}</p>
  </div>
  <div class="cart-item-price">
    <p>{{itemBook.item.price * itemBook.count}}</p>
  </div>
  <div class="cart-item-settings">
    <button class="button-settings" (click)="increase(itemBook)">+ 1</button>
    <button class="button-settings" (click)="decrease(itemBook)">- 1</button>
    <button class="button-settings" (click)="delete(itemBook)">delete</button>
  </div>
</div>
