<div class="cart-content">
  <div class="wrap-cart-content">
    <h2>In your cart available for ordering:</h2>
    <div class="cart-item-header">
      <div class="cart-item-title">Name Book</div>
      <div class="cart-item-count">Count</div>
      <div class="cart-item-price">Price</div>
      <div class="cart-item-settings">Options</div>
    </div>

    <div>
      <app-cart-item *ngFor="let itemBook of listBooks" [itemBook]="itemBook" (changeCountInList)="changeCountInList($event)" (deleteItemInList)="deleteItemInList($event)"></app-cart-item>
    </div>

    <p class="result">total to pay: <b>{{summ}}</b></p>
    <div class="wrap-user-message">
      <div>
        <p class="comment-description">You can add a comment to your order:</p>
        <textarea name="comment" (input)="updateUserMessage($event)"></textarea>
      </div>
      <div>
        <p>{{message}}</p>
      </div>
    </div>
    <p class="description">Check the order sheet and click "complete order" to confirm</p>
    <div class="wrap-button-complete">
      <button class="button-complete">complete order</button>
    </div>
  </div>
</div>
